body {
  background-image: linear-gradient(to right, purple, blue);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  height: 100vh;
}
#add_button,
#remove_button {
  margin-top: 10px;
}
#note_field {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.836);
  height: 90vh;
  border-radius: 10px;
  padding: 10px;
}
#menu_window {
  display: flex;
  position: absolute;
  z-index: 1;
  background-color: rgba(33, 37, 41, 0.877);
  height: 100vh;
  justify-content: center;
}
#menu_panel {
  margin-top: 15vh;
  background-color: white;
  height: 450px;
  width: 300px;
  border-radius: 10px;
}
